@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

nav ul li a {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg.jpg");
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songitemContainer{
  margin-top: 74px;
}

.songItem{
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.songItem img{
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp{
  margin: 0 23px;
}

.timestamp i{
  cursor: pointer;
}

.songInfo{
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
  .fa-play-circle {
    /* background-color: lightblue; */
    margin-top: 5px;
  }
  #myProgressBar{
    margin-top: 23px;
  }

  .bottom{
    bottom: 0px;
  }
}

@media only screen and (max-width: 460px ) {
  span.songName {
    font-size: small;
  }
}

@media only screen and (max-width: 3000px ) {
  span.songName {
    font-size: small;
    padding-right: 66px;
  }
  span.timestamp{
    margin: 0px -68px;
  }
  span#masterSongName{
    padding: 0px 26px;
  }
  #myProgressBar{
    margin-top: 31px;
  }
  .fa-play-circle {
    /* background-color: lightblue; */
    margin-top: 5px;
  }
}


section h2{
  padding: 27px 0px;
}

.container2 {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
}
.container3 {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
}

  
